{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>{% block title %}Django - Francisco Andre - Udemy{% endblock title %}</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">TasksApp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                <div class="dropdown-menu" aria-labelledby="dropdown07">
                  <a class="dropdown-item" href="{% url 'tasks:add_category' %}">Adicionar categoria</a>
                  <a class="dropdown-item" href="{% url 'tasks:list_categories' %}">Listar categorias</a>
                  <a class="dropdown-item" href="{% url 'tasks:add_task' %}">Adicionar tarefa</a>
                  <a class="dropdown-item" href="{% url 'tasks:list_task' %}">Listar tarefas</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-md-0" action="" style="margin-right:10px" autocomplete="off">
              <input class="form-control" name="query" type="text" placeholder="Digite o termo da busca" aria-label="Search" style="margin-right:10px">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
      

    {% block body %}

    {% endblock body %}

    <!-- O Bootstrap possui uma dependência: jQuery. Incluir o código da biblioteca antes de incluir o arquivo bootstrap.js -->
    <script src="{% static 'js/jquery-3.6.0.slim.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script>
      $(document).on('click', '.confirm-delete', function() {
        $('#confirmDeleteModal').attr('caller-id', $(this).attr('id'));
      });
      $(document).on('click', '#confirmDeleteButtonModal', function() {
        var caller = $('#confirmDeleteButtonModal').closest('.modal').attr('caller-id');
        window.location = $('#'.concat(caller)).attr('href');
      });
    </script>  
    
</body>
</html>